name: Publish

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

jobs:
  test:
    name: Run Test workflow
    uses: ./.github/workflows/test.yml
    secrets: inherit

  publish:
    name: Publish to crates.io
    needs: test
    runs-on: ubuntu-latest
    container:
      image: rust:latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install toml-cli
        run: cargo install toml-cli
      - name: Check version matches tag
        run: test "v$(toml get -r Cargo.toml package.version)" = "${{ github.ref_name }}"
      - name: Publish
        run: cargo publish
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}